<div class="columns">
  <div class="column is-6 is-offset-3">
    <img src="<%= asset_path("cfaponglogo.png" ) %>" class="logo-banner" />
    <h2 class="title is-1 has-text-centered">Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <p class="label">Add Avatar</p>
        <%= f.file_field :avatar %>
        <%= f.hidden_field :avatar_cache %>
      </div>

      <div class="field">
       <%= f.label :username, class:"label" %>
       <%= f.text_field :username, class:"input", placeholder:"Username", autofocus: true %>
     </div>

      <div class="field">
        <%= f.label :email, class:"label" %>
        <%= f.email_field :email, class:"input", placeholder:"Email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password, class:"label" %>
        <%= f.password_field :password, autocomplete: "off", class:"input", placeholder:"Password" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum |</em>
        <% end %>
        <i>(leave blank if you don't want to change it)</i>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class:"label" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class:"input", placeholder:"Password confirmation" %>
      </div>

      <div class="field">
        <%= f.label :current_password, class:"label" %>
        <%= f.password_field :current_password, autocomplete: "off", class:"input", placeholder:"Current password" %>
        <i>(we need your current password to confirm your changes)</i>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: "button is-primary" %>
      </div>
    <% end %>

    <h3 class="title is-1 has-text-centered">Cancel my Account</h3>

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button is-danger is-outlined margin-top" %></p>
    <br>
    <%= link_to "Back", :back %>

  </div>
</div>
