<div class="columns">
  <div class="column is-6 is-offset-3">
    <img src="<%= asset_path("cfaponglogo.png" ) %>" class="logo-banner" />
    <h1 class="title is-1 has-text-centered">Sign Up</h1>

    <div class="notification is-warning">
      <button class="delete"></button>
      Please note that your account will need to be approved before before you can see your name on the rankings list.
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>


      <div class="field">
        <%= f.label :username, class:"label" %>
        <p class="control">
          <%= f.text_field :username, class:"input", placeholder:"Username", autofocus: true %>
        </p>
      </div>

      <div class="field">
        <%= f.label :email, class:"label" %>
        <p class="control">
          <%= f.email_field :email, class:"input", placeholder:"Email" %>
        </p>
      </div>

      <div class="field">
        <%= f.label :password, class:"label" %>
        <p class="control">
          <%= f.password_field :password, autocomplete: "off", class:"input", placeholder:"Password" %>
        </p>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class:"label" %>
        <p class="control">
          <%= f.password_field :password_confirmation, autocomplete: "off", class:"input", placeholder:"Confirm Password" %>
        </p>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "button is-primary" %>
      </div>
    <% end %>

  </div>
</div>
