<div class="columns is-hidden-mobile">
  <div class="column is-2 is-offset-3">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content center-text">
            <p>
              <strong>Win %</strong>
              <br>
              <small><%= @user_high_perc.username %></small>
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
  <div class="column is-2">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content center-text">
            <p>
              <strong>No Study</strong>
              <br>
               <small><%= @user_most_games.username %></small>
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
  <div class="column is-2">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content center-text">
            <p>
              <strong>No GG</strong>
              <br>
              <small><%= @user_most_losses.username %></small>
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
<div class="columns is-hidden-mobile">
  <div class="column is-2 is-offset-3">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content center-text">
            <p>
              <strong>Variety</strong>
              <br>
              <small><%= @user_most_opp.username %></small>
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
  <div class="column is-2 ">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content center-text">
            <p>
              <strong>FUDGER</strong>
              <br>
              <small>Divichi</small>
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
  <div class="column is-2 ">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content center-text">
            <p>
              <strong>AFK</strong>
              <br>
              <small><%= @user_afk.username %></small>
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>