<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item">
        <img src="<%= asset_path("ttlogo.png" ) %>" class="logoImage" />
      </a>
      <!-- <a class="nav-item is-tab is-hidden-mobile is-active">Rankings</a> -->
      <%= link_to "Rankings", root_path, class: "nav-item is-tab is-hidden-mobile is-active"%>
      <%= link_to "FAQu", pages_faq_path, class: "nav-item is-tab is-hidden-mobile "%>
    </div>
    <span id="nav-toggle" class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div id='nav-menu' class="nav-right nav-menu">
      <a class="nav-item is-tab is-hidden-tablet is-active">Rankings</a>
      <a class="nav-item is-tab">
        <!-- THIS IS WHERE THE AVATAR WILL GO -->
        <figure class="image is-16x16" style="margin-right: 8px;">
          <img src="http://bulma.io/images/jgthms.png">
        </figure>
        Profile
      </a>
      <% if user_signed_in? %>
        <%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: "nav-item is-tab" %>        
      <% else %>
        <%= link_to 'Login', new_user_session_path, class: "nav-item is-tab"  %>  
      <% end %>
    </div>
  </div>
</nav>
