


<%#= image_tag(asset_path("tt1.png")) %>
<img src="<%= asset_path("cfaponglogo.png" ) %>" class="logo-banner" />
<h1 class="title is-1 has-text-centered">Latest Results</h1>
<p class="has-text-centered"><%= link_to "Enter results", new_game_path, class:"button is-primary" %></p>


<div class="columns">
  <div class="column is-8 is-offset-2">
    <div class="table-box">
      <table class="table">
        <thead>
          <tr>
            <th>Win</th>
            <th>Score</th>
            <th>Lost</th>
            <th>Score</th>
            <th>Date</th>
          </tr>
        </thead>

        <tbody>
          <% @games.each do |game|%>
            <tr>
              <td><%= game.winner_name %></td>
              <td><%= game.winner_score %></td>
              <td><%= game.loser_name %></td>
              <td><%= game.loser_score %></td>
              <td><%= time_ago_in_words(game.created_at) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>







