<%= form_for(game) do |f| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :winner %>
    <%= f.select :winner_name, User.pluck(:username) %>
  </div>

  <div class="field">
    <%= f.label :winner_score %>
    <%= f.number_field :winner_score %>
  </div>

  <div class="field">
    <%= f.label :loser %>
    <%= f.select :loser_name, User.pluck(:username) %>
  </div>

  <div class="field">
    <%= f.label :loser_score %>
    <%= f.number_field :loser_score %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
